@import "global/global.css";

/* Utilidades */
@import "utilidades/componentes.css";
@import "utilidades/cores.css";
@import "utilidades/tipografia.css";

@import "global/header.css";
@import "global/footer.css";
/* Home */
@import "home/introducao.css";
@import "home/tecnologia.css";
@import "home/parceciros.css";
@import "home/depoimento.css";

/* Bicicletas */
@import "bicicletas/bicicletas-lista.css";
@import "bicicletas/bicicletas.css";

/* Seguros */
@import "seguros/seguros.css";

/* Termos */
@import "termos/termos.css";