* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-0: #ffffff;
  --cor-1: #f7f7f7;
  --cor-2: #ededed;
  --cor-3: #dedede;
  --cor-4: #cccccc;
  --cor-5: #b2b2b2;
  --cor-6: #9c9c9c;
  --cor-7: #717171;
  --cor-8: #595959;
  --cor-9: #404040;
  --cor-10: #2e2e2e;
  --cor-11: #111111;
  --cor-12: #000000;
  --cor-p1: #ffbb00;
  --cor-p2: #e4a30b;
  --cor-p3: #f2a50c;
  --cor-p4: #a66f00;
  --cor-p5: #664400;
  --cor-p6: #332200;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  background-color: var(--cor-12);
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  color: var(--cor-0);
  align-items: center;
  justify-content: space-between;
}

.menu-header {
  display: flex;
  flex-wrap: wrap;

  gap: 40px;
}

.menu-header a {
  display: inline-block; /* Garantir que o padding funcione corretamente */
  color: var(--cor-0);
  padding: 16px 0px;
  font-size: 18px;
  position: relative;
}

.header a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header a:hover:after {
  width: 100%;
}

.header > a::after {
  display: none;
}

@media (max-width: 800px) {
  .menu-header {
    gap: 20px;
  }

  .menu-header a {
    background-color: var(--cor-11);
    justify-content: center;
    padding: 12px 16px;
    border-radius: 4px;
  }

  .menu-header a:hover {
    background-color: var(--cor-10);
  }

  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .menu-header {
    gap: 12px;
  }

  .menu-header a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.introducao-bg {
  background-color: var(--cor-12);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  gap: 0px 40px;
}

.introducao-texto {
  color: var(--cor-0);
  align-self: end;
  padding-bottom: 80px;
}

.introducao-texto h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125; /* line-height fica relativo ao tamanho da fonte */
}

.introducao-texto h1 span {
  color: var(--cor-p1);
}

.introducao-texto p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5; /* line-height fica relativo ao tamanho da fonte */
  color: var(--cor-5);
}

.introducao-texto a {
  display: inline-block; /* Garantir que o padding funcione corretamente */
  background: linear-gradient(var(--cor-p1), var(--cor-p3));
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p6);
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
}

.introducao-texto a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
