@import "header/header.css";
@import "global/global.css";

/* Utilidades */
@import "utilidades/componentes.css";
@import "utilidades/cores.css";
@import "utilidades/tipografia.css";

/* Home */
@import "home/introducao.css";

/* Bicicletas */
@import "bicicletas/bicicletas-lista.css";
;