.botao {
  display: inline-block; /* Garantir que o padding funcione corretamente */
  background: linear-gradient(var(--cor-p1), var(--cor-p3));
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p6);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 24px;
    font-size: 1rem;
  }
}
