.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  background-color: var(--cor-12);
  margin: 0 auto;
  padding: 20px;
  gap: 20px;  
  align-items: center;
  justify-content: space-between;
}

.menu-header {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.menu-header a {
  display: inline-block; /* Garantir que o padding funcione corretamente */  
  padding: 16px 0px;  
  position: relative;  
}

.header a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header a:hover:after {
  width: 100%;
}

.header > a::after {
  display: none;
}

@media (max-width: 800px) {
  .menu-header {
    gap: 20px;
  }

  .menu-header a {
    background-color: var(--cor-11);
    justify-content: center;
    padding: 12px 16px;
    border-radius: 4px;
  }

  .menu-header a:hover {
    background-color: var(--cor-10);
  }

  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .menu-header {
    gap: 12px;
  }

  .menu-header a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
