.footer-bg {
  background-color: var(--cor-12);
}

.footer-conteudo {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
}

.footer-conteudo h3 {
  margin-bottom: 32px;
}

.footer-contato ul {
  margin-bottom: 32px;
}

.footer-contato li:nth-child(even)::after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background-color: var(--cor-11);
  margin-top: 16px;
}

.footer-conteudo li {
  margin-bottom: 16px;
}

.footer-redes {
  display: flex;
  gap: 32px;
}

.footer-conteudo a:hover {
  color: var(--cor-0);
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .footer-conteudo > img {
    display: none;
  }
  .footer-conteudo {
    grid-template-columns: 1fr 1fr;    
  }
}

@media (max-width: 600px) {
  .footer-conteudo {
    grid-template-columns: 1fr;
    gap: 60px;    
  }
  .footer-copy {
    margin-top: 0px;
  }
}
