* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cor-11);
  padding-bottom: 600px;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;    
}

img[src$=".jpg"] {
  border-radius: 4px;
}
