.introducao-bg {
  background: var(--cor-12) url("../../img/dec/bottom-left.svg") no-repeat bottom 160px left 20px;
  background-color: var(--cor-12);
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  gap: 0px 40px;
}

.introducao-texto {
  color: var(--cor-0);
  align-self: end;
  padding-bottom: 200px;
}

.introducao-texto h1 {
  margin-bottom: 32px;
}

.introducao-texto p {
  margin-bottom: 20px;
}

.introducao-img img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-0);
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-texto {
    padding-bottom: 0px;
  }

  .introducao-texto h1 {
    margin-bottom: 16px;
  }

  .introducao-img img {
    width: 100%;
    height: 300px;
  }
}
