.vantagens-bg {
  background-color: var(--cor-12);
  --padding: 120px;
}

.vantagens-conteudo {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.vantagens-conteudo h2 {
  margin-bottom: 60px;
}

.vantagens-conteudo ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
}

.vantagens-conteudo h3,
img {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .vantagens-bg {
    --padding: 60px;
  }
  .vantagens-conteudo h2 {
    margin-bottom: 40px;
  }
  .vantagens-conteudo ul {
    gap: 20px;
  }
}
